header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
   
}

header figure {
    width: 27%;

}
header li{
    list-style-type: none;
}

header figure img {
    align-self: flex-start;
    width: 100%;
    height:auto;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header form {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    
    width: 50%

}
header form input{
    border:none;
    outline:none;
    align-items: center;
    align-self: center;
    margin-right: 1rem;
    
}

header form button{
    border:none;
    outline:none;
    
}

.burger-menu{
    margin: 20px;
    align-self: center;
    width: 100%;
}

.burger-menu i{
    background-color: #1259c3;
    color:white;
    font-size: 1rem;
}
.burger {
    border: solid 15px #1259c3;
    border-radius: 7px; 
}



#header-sub{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;margin: 10%;

}



#main-menu{
    
    display:none;
}
#user-menu {
    display:none;
}


@media (min-width:361px){

    #main-menu{
        
        display:flex;
        width: 60%;

    }
    #main-menu ul{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        
    }
    #main-menu ul li{
        margin-right: 1.5rem;
    }
    #user-menu {
        display:flex;
        width: 40%;
        
    }

    #user-menu ul{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        
    }
    #user-menu ul li{
        margin-left: 1.5rem;
    }

    .burger-menu{
        display: none;
    }
    header form {
        display: flex;
        justify-content: center;
        align-self: center;
        
        width: 30%
    
    }
    #header-sub{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-self: center;
        width: 30%;
        margin:0px;
    
    }

}

@media (min-width:769px){

    #main-menu{
        
        display:flex;
    }
    #user-menu {
        display:flex;
    }
    .burger-menu{
        display: none;
    }
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}