* {
    box-sizing: border-box;
    margin: ​0​px​;
    padding: ​0​px​;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 100vw;
    margin-top:0px;
    
}

html {
    overflow-x: hidden;
}

#banner {
    background-image: url("/images/img-home-banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin:0px;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    align-self: flex-start;

}



main {
    font-size: 12px;
    color: #666;
    width: 90vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    padding: 0px;
}

.secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    text-align: left;
    width: 100%;
}

.articles-div {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    /*box-shadow: 60px 16px green;*/
    background-color: white;
    margin-bottom: 10px;
    margin-right: 1rem;
}

.articles-div section {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

p {
    margin: 0px;
}

.articles-div section i {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px​;
    height: 30px;
    position:absolute; left:90%;
   
}


.titulares {
    font-size: 24px;
    margin-left: 1rem;
}

.precios {
    font-size: 18px;
    width: 10%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    margin-bottom: 10px;
    width: 50%;
}

.descripciones {
    color: #666;
    font-size: 16px;
    display: inline-block;
}



@media (min-width:361px) {
    .articles-div {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    }
    .descripciones {
        display: flex;
    }
}

@media (min-width:769px) {
    .articles-div {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    }
    .descripciones {
        display: flex;
    }
}